.navBar {
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}
.logo {
  font-size: 1.25rem;
}
.linkContainer {
  ul {
    list-style: none;
    li {
      margin: auto 1rem;
      a {
        color: #000;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
        &:global.active {
          text-decoration: underline;
        }
        &.login {
          padding: 0.5rem 1.2rem;
          border: 1px solid #00b22d;
          border-radius: 8px;
          &:hover {
            background-color: rgba($color: #00b22d, $alpha: 0.1);
            text-decoration: none;
          }
          &:global.active {
            background-color: rgba($color: #00b22d, $alpha: 0.1);
            text-decoration: none;
          }
        }
      }
    }
  }
}
